@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind custom bundle style */
@layer components {
  .btn-input {
    @apply border border-on-primary px-4 rounded-lg py-[15px] duration-300 w-[100%];
  };

  .btn {
      @apply bg-primary font-semibold px-4 py-[10px] rounded-lg text-on-primary;
  }

  .btn-primary {
    @apply px-6 rounded-lg py-2 bg-on-primary font-semibold;
  }

  .beardcrumbs {
    @apply flex;

    & li:not(:first-child) {
      @apply flex items-center;

      &:before {
        @apply rotate-45 bg-transparent border-r border-t block h-2 w-2 ml-2 mr-3 opacity-40;
        content: "";
      }
    }
  }
}